# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 74216a588ef1dd1b531fa4dd9495bf96f70b68a83bfa2f4d5c586c9a2b9c666700ffe804aeb9e733d4f59999af6f6f05ab70b56f94c61244ce4247bb1e6afa34
  consumer_key: YOUR_CONSUMER_KEY
  consumer_secret: YOUR_CONSUMER_SECRETS
  access_token: YOUR_ACCESS_TOKEN
  access_secret: YOUR_ACCESS_SECRET
test:
  secret_key_base: 685d2288571404acf4f409231b117056e105a0a5e0071880adbf20c40d6cf7ca2a4fd0f559043c1031fe54020b6d22d683707121c87a61adc35eb7247873d321
  consumer_key: YOUR_CONSUMER_KEY
  consumer_secret: YOUR_CONSUMER_SECRETS
  access_token: YOUR_ACCESS_TOKEN
  access_secret: YOUR_ACCESS_SECRET
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  consumer_key: YOUR_CONSUMER_KEY
  consumer_secret: YOUR_CONSUMER_SECRETS
  access_token: YOUR_ACCESS_TOKEN
  access_secret: YOUR_ACCESS_SECRET
